In [1]:
import pandas as pd

In [240]:
file_path = "trial3/unstructured_unencrypted_read3.csv" 
final_path = "trial3/unencrypted_read3.csv"

In [241]:
df = pd.read_csv(file_path, sep='\t', header=0)

In [242]:
df

,Unnamed: 0,4,8,16,32,64,128,256,512,1024,2048,4096,8192,16384
0,64,952555,686877,1452528,2467108,2067979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,128,2511022,2175277,2673584,2367096,4135958,1827299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,256,1938842,2975955,4819184,2943325,60208,4009406.0,5117791.0,NaN,NaN,NaN,NaN,NaN,NaN
3,512,2304647,3905895,5177083,6414119,3877684,4784885.0,4827914.0,4610256.0,NaN,NaN,NaN,NaN,NaN
4,1024,3709575,4654248,6025439,5821271,7160597,5958564.0,7319232.0,5660167.0,5120336.0,NaN,NaN,NaN,NaN
5,2048,4423683,4686767,5306340,7042051,7999524,9752360.0,6303124.0,4521480.0,7477273.0,8159088.0,NaN,NaN,NaN
6,4096,3637640,5263753,7289472,7237268,8340529,7859742.0,8328399.0,7161842.0,5978090.0,7355007.0,6379914.0,NaN,NaN
7,8192,2300494,4447398,6330318,6948652,8358395,7976157.0,7676771.0,7474698.0,7855798.0,7249187.0,6429825.0,5984134.0,NaN
8,16384,4147771,4162595,3567099,7656078,7570887,7323979.0,7758070.0,4995307.0,6654475.0,7731883.0,3551796.0,3939251.0,5904340.0
9,32768,0,0,0,0,8498151,6306331.0,8806347.0,8582529.0,7538003.0,7893888.0,7665390.0,5949015.0,1795512.0
10,65536,0,0,0,0,7566806,3152276.0,7925480.0,7771321.0,7431180.0,6468810.0,7180567.0,4890734.0,6125439.0
11,131072,0,0,0,0,6980422,6205773.0,6612107.0,5135418.0,6263324.0,6072582.0,4762066.0,5412431.0,3940455.0
12,262144,0,0,0,0,2118214,1225447.0,2217688.0,2366048.0,52165.0,185137.0,2009107.0,52235.0,2048591.0
13,524288,0,0,0,0,130198,1587803.0,113976.0,1626925.0,116697.0,1584627.0,47927.0,104436.0,112426.0
14,1048576,0,0,0,0,49889,103592.0,90631.0,68225.0,70564.0,80161.0,61697.0,557902.0,72519.0

In [243]:
file_sizes = df.iloc[:,0]

In [244]:
file_sizes

0          64
1         128
2         256
3         512
4        1024
5        2048
6        4096
7        8192
8       16384
9       32768
10      65536
11     131072
12     262144
13     524288
14    1048576
Name: Unnamed: 0, dtype: int64

In [245]:
block_sizes = df.columns[1:].astype(str)

In [246]:
structured_data = []

In [247]:
for i, file_size in enumerate(file_sizes):
    for j, block_size in enumerate(block_sizes):
        speed = df.iloc[i, j + 1]
        structured_data.append([file_size, block_size, speed])

In [248]:
final_df = pd.DataFrame(structured_data, columns=["File Size", "Block Size", "Speed"])

In [249]:
final_df

     File Size Block Size      Speed
0           64          4   952555.0
1           64          8   686877.0
2           64         16  1452528.0
3           64         32  2467108.0
4           64         64  2067979.0
..         ...        ...        ...
190    1048576       1024    70564.0
191    1048576       2048    80161.0
192    1048576       4096    61697.0
193    1048576       8192   557902.0
194    1048576      16384    72519.0

[195 rows x 3 columns]

In [250]:
final_df.to_csv(final_path)

In [251]:
final_df

     File Size Block Size      Speed
0           64          4   952555.0
1           64          8   686877.0
2           64         16  1452528.0
3           64         32  2467108.0
4           64         64  2067979.0
..         ...        ...        ...
190    1048576       1024    70564.0
191    1048576       2048    80161.0
192    1048576       4096    61697.0
193    1048576       8192   557902.0
194    1048576      16384    72519.0

[195 rows x 3 columns]